/* Arrange elements inside Components in Component's dedicated CSS file; 
App.css is for broad-strokes design elements */

.App {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 2em;
  background-image: linear-gradient(
    45deg,
    rgb(41, 80, 77),
    /* rgb(101, 112, 111), */ rgb(173, 173, 173)
  );
  color: white;
}

a {
  color: aqua;
}

button {
  cursor: pointer;
  margin: 0.5em;
  /* border: double black 0.2em; */
  border-radius: 0.5em;
  /* background-color: rgb(109, 179, 173); */
  text-shadow: 0em 0em 0.9em black;
  box-shadow: 0.3em 0.3em 0.2em black;
}

.container {
  display: inline-block;
  flex-flow: row;
  place-content: center;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    rgb(173, 173, 173),
    /* rgb(101, 112, 111), */ rgb(41, 80, 77)
  );
}

.Nav {
  position: fixed bottom;
  /* border: double rgb(0, 109, 100) 0.5em; */
  padding: 0.5em;
}

.NavBtn {
  display: inherit;
  place-content: center;
  /* border: solid black 0.2em; */
  padding: 0.3em;
  width: 5em;
}
.Active {
  display: flex;
  flex-flow: column;
  border: inset rgb(0, 109, 100) 0.2em;
  /* height: 25em; */
  /* overflow-y: scroll; */
  padding: 1em;
  margin: 1em;
  background-image: linear-gradient(
    45deg,
    rgb(173, 173, 173),
    /* rgb(101, 112, 111), */ rgb(41, 80, 77)
  );
}
