/* Arrange elements inside Components in Component's dedicated CSS file; 
App.css is for broad-strokes design elements */

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

#root {
  position: relative;
  display: flex;
  place-content: center;
  background-image: linear-gradient(
    45deg,
    rgb(63, 122, 117),
    rgb(173, 173, 173)
  );
}

.App {
  display: flex;
  flex-flow: column;
  text-align: center;
  place-content: center;
  min-height: 100%;
  /* max-width: 60em; */
  padding: 2em;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: white;
}

a {
  color: aqua;
  text-shadow: 0em 0em 0.5em rgba(255, 255, 255, 0.5);
}
/* a:visited {
  color: rgba(0, 255, 255, 0.5);
} */
a:hover {
  color: goldenrod;
  text-shadow: 0em 0em 0.75em rgb(255, 255, 130);
}
a:active {
  text-shadow: 0em 0em 0.25em rgb(255, 255, 130);
}
button {
  cursor: pointer;
  margin: 0.5em;
  border-radius: 0.5em;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-shadow: 0em 0em 0.9em black;
  box-shadow: 0.3em 0.3em 0.2em black;
}

.container {
  display: inline-block;
  flex-flow: row;
  place-content: center;
  width: 50em;
  background-image: linear-gradient(45deg, rgb(173, 173, 173), rgb(41, 80, 77));
  border-radius: 1em;
}

.Nav {
  position: fixed bottom;
  box-shadow: 0em 0em 1em black;
  border-radius: 1em;
  padding: 0.5em;
}

.navHeader {
  font-size: large;
  text-shadow: 0em 0em 0.5em black;
}

.navSubheader {
  text-shadow: 0em 0em 0.5em black;
}

.NavBtn {
  display: inherit;
  place-content: center;
  padding: 0.3em;
  width: fit-content;
}
.Active {
  display: flex;
  flex-flow: column;
  box-shadow: 0em 0em 1em black;
  place-self: center;
  border-radius: 1em;
  min-height: 40em;
  min-width: 50em;
  padding: 1em;
  margin: 1em;
  background-image: linear-gradient(45deg, rgb(95, 95, 95), rgb(22, 43, 41));
}

.Header {
  font-family: "Itim", cursive;
  text-shadow: 0em 0em 0.25em white;
  text-shadow: 0em 0em 0.5em rgb(63, 122, 117);
}
